@import url("modern-normalize/modern-normalize.css");
@import url("primevue/resources/themes/aura-light-blue/theme.css");
@import url("primeicons/primeicons.css");
@import url("primeflex/primeflex.css");

html {
  font-size: 14px;
}

body {
  background: var(--primary-50);
}

header ul {
  list-style: none;
  padding: 0;
  font-weight: 600;
}

header ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header ul li a.router-link-active {
  color: var(--primary-color);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.p-speeddial-action {
  text-decoration: none !important;
}

.p-speeddial-opened .p-speeddial-list {
  background: white;
  padding: 0.25rem 0.5rem 0 0.5rem;
  border-radius: 99rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}

.p-speeddial-button {
  margin: 0 0.5rem;
}

.p-speeddial-list {
  margin-bottom: 0.5rem;
}

.p-password.w-full input {
  width: 100%;
}

.field [data-lastpass-icon-root] {
  display: none;
}

.-right-2px {
  right: -2px;
}

.-left-2px {
  left: -2px;
}

.-bottom-2px {
  bottom: -2px;
}

h1 {
  margin-top: 0;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
